<div class="modal-header">
  <h4 class="modal-title pull-left">Modal</h4>
  <div class="pull-left">
    <input placeholder="No" [(ngModel)]="singleMealCopy.no">
    <input placeholder="Title" [(ngModel)]="singleMealCopy.title">
  </div>
  <div class="pull-right">
    <button type="button" class="btn my-btn " aria-label="Save" (click)="hideModal()"> Save </button>
    <button type="button" class="btn my-btn " aria-label="Close" (click)="hideModal()">Cancel</button>
  </div>
</div>
<div class="modal-body">
  <div>
    <div class="field-names row">
      <div class="col-md-1">
        <label>No</label>
      </div>
      <div class="col-md-3">
        <label>Food name</label>
      </div>
      <div class="col-md-2">
        <label>Weight</label>
      </div>
      <div class="col-md-2">
        <label>Cals</label>
      </div>
      <div class="col-md-1">
        <label>Prots</label>
      </div>
      <div class="col-md-1">
        <label>Carbs</label>
      </div>
      <div class="col-md-1">
        <label>Fats</label>
      </div>
    </div>

    <div class="foods">
      <div *ngFor="let foodRow of foodRows; let i = index">
        <hr>
        <app-modal-single-meal-row [(foodRows)]="foodRows" [index]="i"></app-modal-single-meal-row>
      </div>
    </div>

  </div>

  <hr>
  <div class="row">
    <div class="col-md-5"></div>
    <button class="btn my-btn add-btn col-md-2" (click)="addNewFoodRow()"><i class="fa fa-plus"></i></button>
    <div class="col-md-5"></div>
  </div>
</div>
<div class="modal-footer">

  <div class="row">
    <div class="col-md-6 day-macros-label">
      <label>Calories and Macros for the day</label>
    </div>
    <div class="col-md-2">
      <input #calories [(ngModel)]="singleMealCopy.calories">
    </div>
    <div class="col-md-1">
      <input #proteins [(ngModel)]="singleMealCopy.proteins">
    </div>
    <div class="col-md-1">
      <input #carbs [(ngModel)]="singleMealCopy.carbs">
    </div>
    <div class="col-md-1">
      <input #fats [(ngModel)]="singleMealCopy.fats">
    </div>
    <button class="btn my-btn calc-btn col-md-1" (click)="calculateDailyMacros()"><i class="fa fa-calculator"></i></button>

  </div>

</div>