.content-side_nav{
    align-items: stretch;
    overflow-y: hidden !important;
}

.content {
    align-items: stretch;
    overflow-y: auto;
    height: -webkit-fill-available;
}

.sidenav {
    height: 100%;
    position: fixed;
    min-height: 100%;
    background-color: #a4dcaf;
    padding-top: 20px;
    z-index: 1;
    overflow: auto;
    padding-bottom: 8%;
}

.sidenav a {
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}

.sidenav a:hover {
    color: #000;
    background-color: #81af89;
}

.sidenav .client-requests{
    text-align: center;
}

.header {
    background-color: #FFFFFF;
    text-align: center;
    height: 10%;
    color: #000;
}
.top-nav {
    background-color: #000;
    height: 2.5em;
}

.top-nav div {
    padding: 6px;
    z-index: 1;
    text-align: center;
    color: #FFFFFF;
}

.top-nav div:hover,
.top-nav-clicked {
    background-color: #3a3a3a;
    color: #FFF !important;
    cursor: pointer;
    border: 1px solid #000;
}

:host >>> .ui-accordion{
    background: #9cd0a5cd !important;
}

:host >>> .ui-accordion-header {
    background: #9cd0a5cd !important;
}

:host >>> .ui-accordion-header a {
    color: #000  !important;
    font-size: 20px;
}

:host >>> .ui-accordion-header a:hover {
    text-decoration: none;
    background: #81af89 !important;
    color: black !important;
}

:host >>> .ui-widget-content {
    background: #9cd0a5cd !important;
}

:host >>> .ui-widget-content a{
    color: black  !important;
}

:host >>> .ui-accordion-content {
    background: #81af89 !important;
    padding:0 1em;
}

:host >>> .ui-accordion-content a{
    color: black  !important;
    font-size:20px !important;
    padding-left:3em !important;
}

:host >>> .ui-accordion-content a:hover{
    background: #9cd0a5cd !important;
    color: #000 !important;
    text-decoration: underline;
}

:host >>> .ui-state-default {
    border: none;
}

:host >>> .ui-state-active {
    background: #81af89 !important;
    color: black;
}

:host >>> .ui-state-active .ui-accordion-toggle-icon{
    color: black;
}

:host >>> .ui-state-active p-header {
    color: black;
    font-size: 26px;
}

:host >>> .ui-accordion-header .ui-state-default .ui-corner-all .ui-state-active p-header:hover {
    background: #81af89 !important;
}

:host >>> .ui-accordion-header .ui-state-default .ui-corner-all .ui-state-active  p-header:hover {
    color: #ffffff !important;
}

.search-form{
    text-align: center;
}

.search-form label {
    color: #000;
}

.title-label {
    font-size: 18px;
}

.trainer-row{
    vertical-align: middle;
}

.search-form  input{
    margin: 1em 1em;
    width: 80%;
}

.search-form  p-dropdown{
    margin: 1em 1em;
}

.search-btn{
    margin-top:1em;
    width: 75%;
}

:host >>> .ui-button {
    color:black !important;
    background-color: #FFFFFF !important;
    border: 1px solid black !important;
}