.content-side_nav{
    align-items: stretch;
    overflow-y: hidden !important;
}

.content {
    align-items: stretch;
    overflow-y: auto;
    height: -webkit-fill-available;
}

.sidenav {
    height: 100%;
    position: fixed;
    min-height: 100%;
    background-color: #97999C;
    padding-top: 20px;
    z-index: 1;
    overflow: auto;
}

.sidenav a {
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    color: #FAFAFA;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}

.sidenav a:hover {
    color: black;
    background-color: #b1b1b1;
}

.sidenav .client-requests{
    text-align: center;
}

.header {
    background-color: #FAFAFA;
    text-align: center;
    height: 10%;
    color: #536B6F;
}
.top-nav {
    background-color: #536B6F;
    height: 2.5em;
}

.top-nav div {
    padding: 6px;
    z-index: 1;
    text-align: center;
    color: #FAFAFA;
}

.top-nav div:hover {
    background-color: #9DB8BD;
    color: black;
    cursor: pointer;
}

:host >>> .ui-accordion{
    background: #97999C !important;
}

:host >>> .ui-accordion-header {
    background: #97999C !important;
}

:host >>> .ui-accordion-header a {
    color: #FAFAFA  !important;
}

:host >>> .ui-accordion-header a:hover {
    text-decoration: none;
    background: #b1b1b1 !important;
    color: black !important;
}

:host >>> .ui-widget-content {
    background: #b1b1b1 !important;
}

:host >>> .ui-widget-content a{
    color: black  !important;
}

:host >>> .ui-accordion-content {
    background: #b1b1b1 !important;
    padding:0 1em;
}

:host >>> .ui-accordion-content a{
    color: black  !important;
    font-size:18px !important;
    padding-left:3em !important;
}

:host >>> .ui-accordion-content a:hover{
    background: #536B6F !important;
    color: #FAFAFA !important;
}

:host >>> .ui-state-default {
    border: none;
}

:host >>> .ui-state-active {
    background: #b1b1b1 !important;
    color: black;
}

:host >>> .ui-state-active .ui-accordion-toggle-icon{
    color: black;
}

:host >>> .ui-state-active p-header {
    color: black;
    font-size: 22px;
}

:host >>> .ui-accordion-header .ui-state-default .ui-corner-all .ui-state-active p-header:hover {
    background: #536B6F !important;
}

:host >>> .ui-accordion-header .ui-state-default .ui-corner-all .ui-state-active  p-header:hover {
    color: #FAFAFA !important;
}

.search-form{
    text-align: center;
}

.search-form label {
    color: #FAFAFA;
}

.title-label {
    font-size: 18px;
}

.trainer-row{
    vertical-align: middle;
}

.search-form  input{
    margin: 1em 1em;
    width: 80%;
}

.search-form  p-dropdown{
    margin: 1em 1em;
}

.search-form a{
    margin-top:1em;
}
