<div>
  <div class="header">
    <h1>Example Page Header</h1>
  </div>
  <div class="top-nav row">
    <div class="col-md-2" (click)="homeClicked()" [ngClass]="{'top-nav-clicked':opendPage=='home'}">Home</div>
    <div class="col-md-2" (click)="myTrainersClicked()" [ngClass]="{'top-nav-clicked':opendPage=='my-trainers'}">My Trainers</div>
    <div *ngIf="isLoggedUserTrainer" class="col-md-2" (click)="myClientsClicked()" [ngClass]="{'top-nav-clicked':opendPage=='my-clients'}">My Clients</div>
    <div class="col-md-2" (click)="searchTrainerClicked()" [ngClass]="{'top-nav-clicked':opendPage=='search'}">Search</div>
    <div class="col-md-2" (click)="accountClicked()" [ngClass]="{'top-nav-clicked':opendPage=='account'}">Account</div>
  </div>

  <div class="row content-side_nav">

    <div class="sidenav col-md-2" *ngIf="opendPage=='account'">
      <a routerLink="/personal-information">Profile</a>
      <a href="/work">Change Password</a>
      <a href="/education">Change Email</a>
      <a href="/technologies">Logout</a>
    </div>

    <div class="sidenav col-md-2" *ngIf="opendPage=='my-trainers'">
      <p-accordion styleClass="accordion"  (onOpen)="onTabOpen($event)">
        <div *ngFor="let trainer of trainersClientsArr">
          <p-accordionTab>
            <p-header>
              {{trainer}}
            </p-header>
            <a routerLink="['/app/my-trainers/meal-plan', trainer]">Meal Plan</a>
            <a routerLink="['/app/my-trainers/training-program', trainer]">Training Program</a>
            <a [routerLink]="['/app/my-trainers/profile',trainer]">Profile</a>
          </p-accordionTab>
        </div>
      </p-accordion>
    </div>

    <div class="sidenav col-md-2" *ngIf="opendPage=='my-clients'">
      <a [routerLink]="" (click)="getClientRequests()" class="client-requests">Client requests</a>

      <p-accordion styleClass="accordion" (onOpen)="onTabOpen($event)">
        <div *ngFor="let client of trainersClientsArr">
          <p-accordionTab>
            <p-header>
              {{client}}
            </p-header>
            <a routerLink="['/app/my-clients/meal-plan', client]">Meal Plan</a>
            <a routerLink="['/app/my-clients/training-program', client]">Training Program</a>
            <a [routerLink]="['/app/my-clients/profile', client]">Profile</a>
          </p-accordionTab>
        </div>
      </p-accordion>
    </div>

    <div class="sidenav col-md-2" *ngIf="opendPage=='search'">

      <form  class="search-form" [formGroup]="searchForm" (ngSubmit)="search()">
        <label class="title-label" form>Enter your search critera</label>

        <input class="form-control" #username formControlName="username" placeholder="Username">
        <div class=" trainer-row">
          <label class="col-md-5">Trainer:</label>
          <p-dropdown [(ngModel)]="dropdownSelectedIsTrainerOption" [ngModelOptions]="{standalone: true}" [options]="dropdownOptionsTrainer" ></p-dropdown>
        </div>
        <input class="form-control" #firstname formControlName="firstName" placeholder="First Name">
        <input class="form-control" #lastname formControlName="lastName" placeholder="Last Name">
        <input class="form-control" #fromAge formControlName="fromAge" placeholder="From Age">
        <input class="form-control" #toAge formControlName="toAge" placeholder="To Age">
        <div>
          <label>Sex:</label>
          <p-dropdown [(ngModel)]="dropdownSelectedSexOption" [ngModelOptions]="{standalone: true}" [options]="dropdownOptionsSex" ></p-dropdown>
        </div>
        <button class="btn my-btn search-btn" type="submit">Search</button>
      </form>
    </div>

    <div class="col-md-2" *ngIf="opendPage !='home'">

    </div>

    <div class="content col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>