<div class="row training-row">
  <div class="col-md-1">
    <label #exerciseNo class="">{{exerciseRow.exerciseNo}}</label>
  </div>
  <div class="col-md-3">
    <label #exerciseName>{{exerciseRow.exercise.name}}</label>
  </div>
  <div class="col-md-1">
    <label #sets>{{exerciseRow.sets}}</label>
  </div>
  <div class="col-md-2">
    <label #reps>{{exerciseRow.reps}}</label>
  </div>
  <div class="col-md-1">
    <label #weight>{{exerciseRow.weight}}</label>
  </div>
  <div class="col-md-4">
    <label *ngIf="!isMyClientsClicked" class="comment comment-border" #comment contenteditable="true" (blur)="createComment() " [textContent]="exerciseRow.comment" (input)="exerciseRow.comment=$event.target.textContent"></label>
    <label *ngIf="isMyClientsClicked" class="comment" #comment >{{exerciseRow.comment}}</label>
  </div>
</div>