<div class="row training-row">
  <div class="col-md-1">
    <label #exerciseNo class="">{{exercise.exerciseNo}}</label>
  </div>
  <div class="col-md-3">
    <label #exerciseName>{{exercise.exerciseName}}</label>
  </div>
  <div class="col-md-1">
    <label #sets>{{exercise.sets}}</label>
  </div>
  <div class="col-md-2">
    <label #reps>{{exercise.reps}}</label>
  </div>
  <div class="col-md-1">
    <label #weight>{{exercise.weight}}</label>
  </div>
  <div class="col-md-4">
    <label class="comment" #comment contenteditable="true">{{exercise.comment}}</label>
  </div>
</div>