<div class="row training-row">
  <div class="col-md-1">
    <input #exerciseNo [(ngModel)]="exerciseRows[index].exerciseNo" >
  </div>
  <div class="col-md-4">
    <input #exerciseName [(ngModel)]="exerciseRows[index].exercise.name" list="exercisesDataList">
  </div>
  <div class="col-md-2">
    <input #sets [(ngModel)]="exerciseRows[index].sets">
  </div>
  <div class="col-md-2">
    <input #reps [(ngModel)]="exerciseRows[index].reps">
  </div>
  <div class="col-md-2">
    <input #weight [(ngModel)]="exerciseRows[index].weight">
  </div>

  <button class="btn my-btn col-md-1" (click)="deleteExerciseRow()"><i class="fa fa-trash"></i></button>

  <datalist id="exercisesDataList">
    <option *ngFor="let exercise of exercises" [value]="exercise.name">
  </datalist>
  
</div>