<div class="training-day">
  <div class="header">
  </div>

  <div class="body">
    <div class="field-names row">
      <div class="col-md-1">
        <label>No</label>
      </div>
      <div class="col-md-3">
        <label>Exercise name</label>
      </div>
      <div class="col-md-1">
        <label>Sets</label>
      </div>
      <div class="col-md-2">
        <label>Reps</label>
      </div>
      <div class="col-md-1">
        <label>Weight</label>
      </div>
      <div class="col-md-4">
        <label>Comment</label>
      </div>



    </div>
    <app-training-row *ngFor="let exercise of exercises" [exercise]="exercise">
    </app-training-row>
  </div>


</div>