<div class="training-day">
  <div class="header">
    <label>{{trainingDay.no}}.</label>
    <label>{{trainingDay.title}}</label>
    <div *ngIf="isTrainer">
      <button class="btn my-btn" (click)="openModal()">Change</button>
      <button class="btn my-btn" (click)="deleteTrainingDay()">Delete</button>
    </div>
  </div>

  <div class="body">
    <div class="field-names row">
      <div class="col-md-1">
        <label>No</label>
      </div>
      <div class="col-md-3">
        <label>Exercise name</label>
      </div>
      <div class="col-md-1">
        <label>Sets</label>
      </div>
      <div class="col-md-2">
        <label>Reps</label>
      </div>
      <div class="col-md-1">
        <label>Weight</label>
      </div>
      <div class="col-md-4">
        <label>Comment</label>
      </div>
    </div>

    <div>
      <div *ngFor="let exerciseRow of trainingDay.exerciseRows">
        <hr>
        <app-training-row [exerciseRow]="exerciseRow">
        </app-training-row>
      </div>
    </div>
  </div>


</div>