<div class="training-day">
  <div class="header">
    <label>{{trainingDay.tdNo}}.</label>
    <label>{{trainingDay.tdTitle}}</label>
  </div>

  <div class="body">
    <div class="field-names row">
      <div class="col-md-1">
        <label>No</label>
      </div>
      <div class="col-md-3">
        <label>Exercise name</label>
      </div>
      <div class="col-md-1">
        <label>Sets</label>
      </div>
      <div class="col-md-2">
        <label>Reps</label>
      </div>
      <div class="col-md-1">
        <label>Weight</label>
      </div>
      <div class="col-md-4">
        <label>Comment</label>
      </div>



    </div>
    <div *ngFor="let exercise of trainingDay.exercises">
      <hr>
      <app-training-row [exercise]="exercise">
      </app-training-row>
    </div>
  </div>


</div>