<div>
  <div class="header">
  </div>

  <div class="body">


    <div class="row">
      <div class="col-xs-12 col-md-5 col-lg-4 form-group">
        <input class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dpYMD="bsDatepicker" bsDatepicker formControlName="myDateYMD"
          [bsConfig]="{ dateInputFormat: 'YYYY-ww'}">
      </div>
      <div class="col-xs-12 col-12 col-md-3 form-group">
        <button class="btn btn-success" (click)="dpYMD.toggle()" [attr.aria-expanded]="dpYMD.isOpen">Date Picker</button>
      </div>
    </div>



    <div *ngFor="let singleMeal of singleMeals">
      <app-single-meal [singleMeal]="singleMeal"></app-single-meal>
    </div>

    <div class="add-button-div row">
      <div class="col-md-5"></div>
      <button class="col-md-2 btn my-btn" (click)="openModal()">Add</button>
      <div class="col-md-5"></div>
    </div>

  </div>


</div>