<div>
  <div class="header">
  </div>

  <div class="body">

    <app-datepicker (onDateChange)="onDateChange($event)"></app-datepicker>

    <div *ngFor="let singleMeal of singleMeals">
      <app-single-meal [singleMeal]="singleMeal" [clickedUsername]="username" [dateFromDatepicker]="date"></app-single-meal>
    </div>

    <div class="add-button-div row">
      <div class="col-md-5"></div>
      <button class="col-md-2 btn my-btn" (click)="openModal()">{{date}}</button>
      <div class="col-md-5"></div>
    </div>

  </div>


</div>