<div >
  <div class="header">
    <h1>Example Page Header</h1>
  </div>
  <div class="down-header"></div>

  <div class="row content-side_nav">
    <div class="sidenav col-md-2 col-lg-1">
      <a routerLink="/personal-information">Personal Information</a>
      <a href="/work">IT Experience</a>
      <a href="/education">Education</a>
      <a href="/technologies">Technologies</a>
      <a href="/hobbies">Hobbies</a>
    </div>

    <div class="content col-md-10 col-lg-11">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>