hr {
    margin-top:0;
    margin-bottom: 8px;;
}

.field-names{
    text-align: center;
    font-size: 16px;
}

.field-names div{
    font-weight: bold;
    padding: 0;
}

.single-meal{
    width: 100%;
    min-height: 10em;
    border-radius: 10px;
    margin: 14px 0;
}

.header {
    padding: 6px;
    font-weight: bold;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 22px;
}

.header label{
    font-size: 22px;

}

.header div {
    float: right;
}

.body{
    border: 1px solid black;
    min-height: 8em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 6px 0;
}

.day-macros{
    border-top: 2px solid black;
    text-align: center;
    padding-top: 7px !important;
    font-weight: bold;
}

.row{
    padding:0;
}

.add-button-div{
    margin-top:-20%;
}

@media (min-width: 992px){
.modal-lg-2 {
    max-width: 800px;
}
}

@media (min-width: 576px){
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
}


