<div class="single-meal">
  <div class="header">
    <label>{{singleMeal.smNo}}.</label>
    <label>{{singleMeal.smTitle}}</label>
    <div *ngIf="isTrainer">
      <button class="btn my-btn" (click)="openModal()">Change</button>
      <button class="btn my-btn">Delete</button>
    </div>
  </div>

  <div class="body">
    
    <div class="field-names row">
      <div class="col-md-1">
        <label>No</label>
      </div>
      <div class="col-md-3">
        <label>Food name</label>
      </div>
      <div class="col-md-1">
        <label>Weight</label>
      </div>
      <div class="col-md-1">
        <label>Cals</label>
      </div>
      <div class="col-md-1">
        <label>Prots</label>
      </div>
      <div class="col-md-1">
        <label>Carbs</label>
      </div>
      <div class="col-md-1">
        <label>Fats</label>
      </div>
      <div class="col-md-3">
        <label>Comment</label>
      </div>
    </div>

    <div *ngFor="let food of singleMeal.foods">
      <hr>
      <app-meal-row [food]="food">
      </app-meal-row>

    </div>

    <div class="row day-macros">
      <div class="col-md-5">
        <label>Calories and macros for the day</label>
      </div>
      <div class="col-md-1">
        <label>3000</label>
      </div>
      <div class="col-md-1">
        <label>140</label>
      </div>
      <div class="col-md-1">
        <label>302</label>
      </div>
      <div class="col-md-1">
        <label>102</label>
      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>


</div>