<div class="single-meal">
  <div class="header">
    <label>{{singleMeal.no}}.</label>
    <label>{{singleMeal.title}}</label>
    <div *ngIf="isMyClientsClicked">
      <button class="btn my-btn" (click)="openModal()">Change</button>
      <button class="btn my-btn"  (click)="deleteSingleMeal()">Delete</button>
    </div>
  </div>

  <div class="body">
    
    <div class="field-names row">
      <div class="col-md-1">
        <label>No</label>
      </div>
      <div class="col-md-3">
        <label>Food name</label>
      </div>
      <div class="col-md-1">
        <label>Weight</label>
      </div>
      <div class="col-md-1">
        <label>Cals</label>
      </div>
      <div class="col-md-1">
        <label>Prots</label>
      </div>
      <div class="col-md-1">
        <label>Carbs</label>
      </div>
      <div class="col-md-1">
        <label>Fats</label>
      </div>
      <div class="col-md-3">
        <label>Comment</label>
      </div>
    </div>

    <div *ngFor="let food of singleMeal.foodRows">
      <hr>
      <app-meal-row [food]="food">
      </app-meal-row>

    </div>

    <div class="row day-macros">
      <div class="col-md-5">
        <label>Calories and macros for the day</label>
      </div>
      <div class="col-md-1">
        <label>{{singleMeal.calories}}</label>
      </div>
      <div class="col-md-1">
        <label>{{singleMeal.proteins}}</label>
      </div>
      <div class="col-md-1">
        <label>{{singleMeal.carbs}}</label>
      </div>
      <div class="col-md-1">
        <label>{{singleMeal.fats}}</label>
      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>


</div>