<div class="row">
  <div class="col-md-6 outer-div">
      <div>
        <label>New E-mail</label>
        <input type="text" class="form-control" [(ngModel)]="email">
      </div>

      <div>
        <label>Confirm New E-mail</label>
        <input type="text" class="form-control" [(ngModel)]="emailConfirm">
      </div>

      <div>
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="password">
      </div>

      <div class="buttons">
        <button class="btn my-btn" type="button" (click)="changeEmail()" [disabled]="password == null || email == null || email!=emailConfirm">Change</button>
      </div>

    </div>
</div>