.row div{
    text-align: center;
}

label{
    font-size: 12px;
}

.comment{

    width:inherit;
    text-align: left;
    padding: 0 2px;
}

.comment-border {
    border: 1px solid black;
}

.comment-border:hover{
    cursor: text;
}