<div class="row">
  <div class="col-md-1">
    <label #foodNo class="">{{food.no}}</label>
  </div>
  <div class="col-md-3">
    <label #foodName>{{food.food.name}}</label>
  </div>
  <div class="col-md-1">
    <label #foodWeight>{{food.weight}}</label>
  </div>
  <div class="col-md-1">
    <label #calories>{{food.calories}}</label>
  </div>
  <div class="col-md-1">
    <label #proteins>{{food.proteins}}</label>
  </div>
  <div class="col-md-1">
    <label #carbs>{{food.carbs}}</label>
  </div>
  <div class="col-md-1">
    <label #fats>{{food.fats}}</label>
  </div>
  <div class="col-md-3">
    <label class="comment" #comment contenteditable="true">{{food.comment}}</label>
  </div>
</div>