<div class="row">
  <div class="col-md-1">
    <label #foodNo class="">{{foodRow.no}}</label>
  </div>
  <div class="col-md-3">
    <label #foodName>{{foodRow.food.name}}</label>
  </div>
  <div class="col-md-1">
    <label #foodWeight>{{foodRow.weight}}</label>
  </div>
  <div class="col-md-1">
    <label #calories>{{foodRow.calories}}</label>
  </div>
  <div class="col-md-1">
    <label #proteins>{{foodRow.proteins}}</label>
  </div>
  <div class="col-md-1">
    <label #carbs>{{foodRow.carbs}}</label>
  </div>
  <div class="col-md-1">
    <label #fats>{{foodRow.fats}}</label>
  </div>
  <div class="col-md-3">
    <label *ngIf="!isMyClientsClicked" class="comment comment-border" #comment contenteditable="true" (blur)="createComment() " [textContent]="foodRow.comment" (input)="foodRow.comment=$event.target.textContent"></label>
    <label *ngIf="isMyClientsClicked" class="comment " #comment >{{foodRow.comment}}</label>
  </div>
</div>