<div class="row">
  <div class="col-md-6 outer-div">
      <div>
        <label>New Password</label>
        <input type="text" class="form-control" [(ngModel)]="newPassword">
      </div>

      <div>
        <label>Confirm New Password</label>
        <input type="text" class="form-control" [(ngModel)]="newPasswordConfirm">
      </div>

      <div>
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="oldPassword">
      </div>

      <div class="buttons">
        <button class="btn my-btn" type="button" (click)="changePassword()" [disabled]="oldPassword == null || newPassword == null || newPassword!=newPasswordConfirm">Change</button>
      </div>

    </div>
</div>