<div class="row">
  <div class="col-md-1">
    <input #foodNo [(ngModel)]="foods[index].foodNo">
  </div>
  <div class="col-md-3">
    <input #foodName [(ngModel)]="foods[index].foodName">
  </div>
  <div class="col-md-2">
    <input #foodWeight [(ngModel)]="foods[index].foodWeight">
  </div>
  <div class="col-md-2">
    <input #calories [(ngModel)]="foods[index].calories">
  </div>
  <div class="col-md-1">
    <input #proteins [(ngModel)]="foods[index].proteins">
  </div>
  <div class="col-md-1">
    <input #carbs [(ngModel)]="foods[index].carbs">
  </div>
  <div class="col-md-1">
    <input #fats [(ngModel)]="foods[index].fats">
  </div>

  <button class="btn my-btn col-md-1" (click)="deleteFoodRow()"><i class="fa fa-trash"></i></button>

</div>