<div class="row">
  <div class="col-md-1">
    <input #foodNo [(ngModel)]="foodRows[index].no">
  </div>
  <div class="col-md-3">
    <input #foodName [(ngModel)]="foodRows[index].food.name" list="foodsDataList">
  </div>
  <div class="col-md-2">
    <input #foodWeight [(ngModel)]="foodRows[index].weight">
  </div>
  <div class="col-md-2">
    <input #calories [(ngModel)]="foodRows[index].calories">
  </div>
  <div class="col-md-1">
    <input #proteins [(ngModel)]="foodRows[index].proteins">
  </div>
  <div class="col-md-1">
    <input #carbs [(ngModel)]="foodRows[index].carbs">
  </div>
  <div class="col-md-1">
    <input #fats [(ngModel)]="foodRows[index].fats">
  </div>

  <button class="btn my-btn col-md-1" (click)="deleteFoodRow()"><i class="fa fa-trash"></i></button>

  <datalist id="foodsDataList">
    <option *ngFor="let food of foods" [value]="food.name">
  </datalist>

</div>