html, body {
    height: 100%; /* necessary */
    overflow-x: hidden;
    overflow-y: hidden !important;
    }

body{
    min-height: 100%;
    height:auto !important; /* modern Browser */
    height:100%; /* IE */
}

.row{
    padding: 0px;
    margin: 0px;
}

.my-btn{
    color:#FFFFFF;
    background-color: #28a745;
}

.my-btn:hover{
    color:black;
    background-color: #21c447;
    border: 1px solid #28a745;
}

.add-btn{
    padding: 0;
    margin-top:-1%;
}


@media (min-width: 1050px){
    .modal-lg {
        max-width: 1000px;
    }
}

@media (min-width: 750px) and (max-width: 1050px){
    .modal-lg {
        max-width: 700px;
    }
}  

.modal-header{
    border-bottom: 2px solid black;
}

.modal-footer{
    border-top: 2px solid black;
}

.modal-content {
    border: 1px solid rgba(0,0,0,0.8);
}


/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Loading div */
loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #143C7F;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Datepicker override */
  .theme-green .bs-datepicker-body table td span.selected,
  .theme-green .bs-datepicker-body table td.selected span,
  .theme-green .bs-datepicker-body table td span[class*="select-"]:after,
  .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: inherit !important; 
    color: inherit;
}
  

  .theme-green .bs-datepicker-body table .is-highlighted{
    background-color: inherit !important; 
    color: inherit;
  }

  .theme-green .bs-datepicker-body table tr:hover{
    background-color: #e9edf0 !important; 
  } 

  .theme-green .bs-datepicker-body table tr >>> span.selected{
    background-color: #aaff11 !important; 
  } 
  