:host >>> .ui-togglebutton {
    margin-left: 7px;
}

:host >>> .ui-state-default {
    color:black !important;
    background-color: #FAFAFA !important;
    border: 1px solid black !important;
}

:host >>> .ui-state-default:hover {
    color:#FAFAFA !important;
    background-color: #536B6F !important;
    border: 1px solid #FAFAFA !important;
}

:host >>> .ui-state-active {
    color:#FAFAFA !important;
    background-color: #536B6F !important;
    border: 1px solid #FAFAFA !important;
}

:host >>> .ui-state-active:hover {
    color:black !important;
    background-color: #FAFAFA !important;
    border: 1px solid black !important;
}

.profile-img {
    margin-left: 5%;
    height:13em;
    border: 1px solid black;
}

.row{
    padding: 0;
    margin: 0;
}

.personal-info {
    text-align: right;
}

.user-description{
    border: 1px solid black;
    margin-top:14px;
    height: 20vh;
}

.isTrainerPart{
    margin: 12px 0;
}