:host >>> .ui-togglebutton {
    margin-left: 7px;
}

:host >>> .ui-state-default {
    color:black !important;
    background-color: #FAFAFA !important;
    border: 1px solid black !important;
}

:host >>> .ui-state-default:hover {
    color:#FAFAFA !important;
    background-color: #536B6F !important;
    border: 1px solid #FAFAFA !important;
}

:host >>> .ui-state-active {
    color:#FAFAFA !important;
    background-color: #536B6F !important;
    border: 1px solid #FAFAFA !important;
}

:host >>> .ui-state-active:hover {
    color:black !important;
    background-color: #FAFAFA !important;
    border: 1px solid black !important;
}

.image-personalInfo{
    padding: 10px !important;
}

.profile-img {
    margin-left: 2.5%;
    height:16em;
    width: inherit;
}

.image-input {
    margin: 14px auto;
    width: inherit;
}

.row{
    padding: 0;
    margin: 10px;
}

.personal-info {
    text-align: right;
}

:host >>> .ui-dropdown{
    width: 100% !important;
    text-align: center;
  
}

:host >>> .ui-state-default {
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
}

:host >>> .ui-state-default:hover {
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
}

.sex-dropdown {
    padding: 0;
    margin:-8px 10px 10px 10px !important;
}

.user-description{
    border: 1px solid black;
    margin-top:14px;
    height: 20vh;
}

.isTrainerPart{
    margin: 12px 0;
}

.enums-margin {
    margin-bottom: -6px;
}