<div class="modal-header">
  <div class="pull-left"></div>
  <div class="pull-right">
    <button type="button" class="btn my-btn " aria-label="Save" (click)="onSave()"> Save </button>
    <button type="button" class="btn my-btn " aria-label="Close" (click)="hideModalProfileModal()">Cancel</button>
  </div>
</div>
<div class="modal-body">

  <div class="row image-personalInfo">

    <div class="col-md-4">
      <img class="profile-img" [src]="imageUrl" #profileImg>
      <input class="image-input form-control" type="file" (change)="onImageChanged($event)">
    </div>

    <div class="personal-info col-md-4">
      <div>
        <div class="row">
          <label class="col-md-6">First Name:</label>
          <input class="form-control" [(ngModel)]="user.firstName">
        </div>
      </div>
      <div>
        <div class="row">
          <label class="col-md-6">Last Name:</label>
          <input class="form-control" [(ngModel)]="user.lastName">
        </div>
      </div>
      <div>
        <div class="row">
          <label class="col-md-6">E-mail:</label>
          <input class="form-control" [(ngModel)]="user.email">
        </div>
      </div>
      <div>
        <div class="row">
          <label class="col-md-6">Phone:</label>
          <input class="form-control" [(ngModel)]="user.phone">
        </div>
      </div>
    </div>

    <div class="personal-info col-md-4">
      <div>
        <div class="row">
          <label class="col-md-6">Age:</label>
          <input class="form-control" [(ngModel)]="user.age">
        </div>
      </div>
      <div>
        <div class="row">
          <label class="col-md-6">Sex:</label>
        </div>
        <div class="sex-dropdown">
          <p-dropdown [(ngModel)]="dropdownSelectedSexOption" [options]="dropdownOptionsSex"></p-dropdown>
        </div>
      </div>
      <div>
        <div class="row">
          <label class="col-md-6">Weight:</label>
          <input class="form-control" [(ngModel)]="user.weight">
        </div>
      </div>
      <div>
        <div class="row">
          <label class="col-md-6">Height:</label>
          <input class="form-control" [(ngModel)]="user.height">
        </div>
      </div>
      <div>
        <div class="row">
          <label class="col-md-6">Goal:</label>
        </div>
        <div class="sex-dropdown">
          <p-dropdown [(ngModel)]="dropdownSelectedGoalOption" [options]="dropdownOptionsGoal"></p-dropdown>
        </div>
      </div>
    </div>

  </div>

  <div clss="isTrainerPart">
    <label class="is-trainer" #isTrainer>Are you a trainer</label>
    <!-- <p-toggleButton class="is-trainer-btn" onIcon="fa-check-square" offIcon="fa-square" [(ngModel)]="user.isTrainer"></p-toggleButton> -->
  </div>

  <div class="col-md-12 user-description form-control" contenteditable="true" [textContent]="user.description" (input)="user.description=$event.target.textContent">

  </div>


</div>