<div>
  <div class="header">
    <h1>Example Page Header</h1>
  </div>
  <div class="top-nav row">
    <div class="col-md-2" (click)="accountClicked()">Account</div>
    <div class="col-md-2" (click)="myTrainersClicked()">My Trainers</div>
    <div class="col-md-2" (click)="myClientsClicked()">My Clients</div>
    <div class="col-md-2" (click)="searchTrainerClicked()">Search Trainer</div>
  </div>

  <div class="row content-side_nav">

    <div class="sidenav col-md-2" *ngIf="opendPage==0">
      <a routerLink="/personal-information">Profile</a>
      <a href="/work">Change Password</a>
      <a href="/education">Change Email</a>
      <a href="/technologies">Logout</a>
    </div>

    <div class="sidenav col-md-2" *ngIf="opendPage==1">
      <p-accordion styleClass="accordion">
        <div *ngFor="let trainer of trainers">
          <p-accordionTab >
            <p-header>
              Trainer {{trainer}}
            </p-header>
            <a>Meal Plan</a>
            <a>Program</a>
            <a>Profile</a>
          </p-accordionTab>
        </div>
      </p-accordion>
    </div>

    <div class="sidenav col-md-2" *ngIf="opendPage==2">
      <a routerLink="/personal-information">Clients</a>
    </div>

    <div class="sidenav col-md-2" *ngIf="opendPage==3">
      <a routerLink="/personal-information">Search</a>
    </div>

    <div class="content col-md-10">
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
</div>