<div>
  <div class="header">
  </div>

  <div class="body">
      <app-training-day></app-training-day>
      <app-training-day></app-training-day>
      <app-training-day></app-training-day>
      <app-training-day></app-training-day>
      <app-training-day></app-training-day>
      <app-training-day></app-training-day>
      <app-training-day></app-training-day>
      <app-training-day></app-training-day>
      <app-training-day></app-training-day>
      <app-training-day></app-training-day>
  </div>


</div>