button{
    font-size: 14px;
    white-space: initial;
}


.profile-img {
    height:20em;
    width: inherit;
}

.container{
    padding-top: 1em;
}

.image-personalInfo{
    margin-top:1em;
}

.personal-info{
    font-size: 20px;
    padding-left:28px;
}

.is-trainer{
    font-size: 28px;
    padding:0;
    margin: 10px 0;
}


.user-description{
    border: 1px solid black;
    margin-top:14px;
    height: 20vh;
}

.marginBottomClass{
    margin-bottom: 20%;
}