<div class="container" [ngClass]="{'marginBottomClass': isMarginNeeded}">

  <div *ngIf="openedPage!='account' && openedPage!='search'" class="row">
    <h2 class="col-md-4 for-account">{{user.username}} Profile</h2>
    <div class="col-md-6"></div>
    <button *ngIf="trainerClientStatus==='ACCEPTED'" class="col-md-1 btn my-btn" (click)="cancelTrainerClient()">Cancel</button>
    <button *ngIf="trainerClientStatus==='CANCELED'" class="col-md-1 btn my-btn" (click)="deleteTrainerClient()">Delete</button>
  </div>
  <div class="for-account row" *ngIf="openedPage==='account'">
    <h2 class="col-md-4">{{user.username}} Profile</h2>
    <div class="col-md-6"></div>
    <button class="col-md-1 btn my-btn" (click)="openModal()">Change data</button>
  </div>

  <div class="row image-personalInfo">

    <div class="col-md-3">
      <img class="profile-img" [src]="user.image" #profileImg>
    </div>

    <div class="personal-info col-md-3">
      <div>
        <label>First Name:</label>
        <label #firstName>{{user.firstName}}</label>
      </div>
      <div>
        <label>Last Name:</label>
        <label #lastName>{{user.lastName}}</label>
      </div>
      <div>
        <label>Age:</label>
        <label #age>{{user.age}}</label>
      </div>
      <div>
        <label>Sex:</label>
        <label #sex>{{user.sex}}</label>
      </div>
      <div>
        <label>E-mail:</label>
        <label #email>{{user.email}}</label>
      </div>
      <div>
        <label>Phone:</label>
        <label #phone>{{user.phone}}</label>
      </div>
    </div>
    <div class="personal-info col-md-3">
      <div>
        <label>Weight:</label>
        <label #weight>{{user.weight}}</label>
      </div>
      <div>
        <label>Height:</label>
        <label #height>{{user.height}}</label>
      </div>
      <div>
        <label>Goal:</label>
        <label #goal>{{user.goal}}</label>
      </div>
    </div>

  </div>

  <div *ngIf="openedPage==='account'; else notAccTrainer">
    <div class="row">
      <div class="col-md-10">
        <label *ngIf="user.isTrainer" class="is-trainer" #isTrainer>You have chosen to be a trainer</label>
        <label *ngIf="!user.isTrainer" class="is-trainer" #isTrainer>You have chosen not to be a trainer</label>
        <!-- <p-toggleButton class="is-trainer-btn" onIcon="fa-check-square" offIcon="fa-square" [(ngModel)]="checked"></p-toggleButton> -->
      </div>
    </div>
  </div>
  <ng-template #notAccTrainer>
    <label *ngIf="user.isTrainer" class="is-trainer" #isTrainer>This user is a trainer</label>
    <label *ngIf="!user.isTrainer" class="is-trainer" #isTrainer>This user is not a trainer</label>
  </ng-template>

  <div class="col-md-11 user-description">
    {{user.description}}
  </div>

</div>