button{
    font-size: 14px;
    white-space: initial;
}

.profile-img {
    height:20em;
    border: 1px solid black;
}

.container{
    padding-top: 1em;
}

.image-personalInfo{
    margin-top:1em;
}

h2{
    
}

.personal-info{
    font-size: 20px;
    padding-left:28px;
}

.is-trainer{
    font-size: 28px;
    padding:0;
    margin: 10px 0;
}


:host >>> .ui-togglebutton {
    margin-left: 7px;
}

:host >>> .ui-state-default {
    color:black !important;
    background-color: #FAFAFA !important;
    border: 1px solid black !important;
}

:host >>> .ui-state-default:hover {
    color:#FAFAFA !important;
    background-color: #536B6F !important;
    border: 1px solid #FAFAFA !important;
}

:host >>> .ui-state-active {
    color:#FAFAFA !important;
    background-color: #536B6F !important;
    border: 1px solid #FAFAFA !important;
}

:host >>> .ui-state-active:hover {
    color:black !important;
    background-color: #FAFAFA !important;
    border: 1px solid black !important;
}


.user-description{
    border: 1px solid black;
    margin-top:14px;
    height: 20vh;
}

.marginBottomClass{
    margin-bottom: 20%;
}