body {
    background-color: #FAFAFA;
}

.register-div{
    border: #536B6F solid 1px;
    margin-left: 25%;
    margin-top: 1%;
    border-radius: 3%;
    padding: 7px;
    color: #536B6F;
}

.register-div button{
    color:#FAFAFA;
    background-color: #536B6F;
}

.register-div button:hover{
    color:black;
    background-color: #9DB8BD;
}

.checkboxes{
    display: block;
}

.password-error-msg{
    margin: 2px 10px;
    color: red;
}

.buttons{
    float: right;
}