body {
    background-color: #FAFAFA;
}

.register-div{
    border: #536B6F solid 1px;
    margin-left: 25%;
    margin-top: 2%;
    border-radius: 3%;
    padding: 7px;
    color: #536B6F;
}

.register-div button{
    color:#FAFAFA;
    background-color: #536B6F;
}

.register-div button:hover{
    color:black;
    background-color: #9DB8BD;
}

.buttons{
    float: right;
}