.profile-img {
    height: 40vh;
    border: 1px solid black;
}

.container{
    padding-top: 1em;
}

.image-personalInfo{
    margin-top:1em;
}

h2{
    
}

.personal-info{
    font-size: 20px;
    padding-left:28px;
}

.is-trainer{
    font-size: 28px;
    padding:0;
    margin: 10px 0;
}

.user-description{
    border: 1px solid black;
    margin-top:14px;
    height: 20vh;
}